# Dependencies & Node modules
node_modules
client/node_modules
server/node_modules

# Build outputs
dist
build
client/dist
client/build

# Git & IDE
.git
.gitignore
.vscode
.idea

# Environment files & secret logs
.env
.env.*
!client/.env.production
config.env
server/config.env
*.log
